
p{
    font-family: var(--font-family-text);
    color: var(--title-color-secondary);
    font-size: 16pt;
}

a{
    text-decoration: none;
}


/*bandeau rouge du Header*/
nav > div:first-child {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 40px;
    background: linear-gradient(182deg, #EF7F84 -20%, #b01f26 50%, #E7767B 120%);
}



/* logo top left */
nav>div>a:first-of-type{
    display: inline;
    align-self: center;
    margin-left: 20px;
}

img[alt="logo"]{
    height: 1.8em;

}





.navContenairIcon{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img[alt="menu hamburger"]{
    height: 2.2em;
    width: auto;
    margin-top: 0.18em;
}

img[alt="icon de compte"]{
    height: 1.8em;

}

img[alt="icone de recherche"]{
    height: 1.8em;
}

#contact-link{
    text-decoration: none;
    font-family: var(--font-family-title);
    font-size: 20px;
    color: #ffffff;
    display: none;
}


#account-link{
    text-decoration: none;
    font-family: var(--font-family-title);
    font-size: 20px;
    color: #ffffff;
    display: none;
}

#shearch-icon-text{
    text-decoration: none;
    font-family: var(--font-family-title);
    font-size: 20px;
    color: #ffffff;
    display: none;
}




/* menu-hamburger*/
.label-menu-hamburger{
    cursor: pointer;
}
#menu-hamburger-avec-liste{
    position: relative;
    height: 2.5em;

}

#menu-hamburger{
    display: none;
}

.menu-categories{
    width: 200px;
    border-radius: 2%;
    display: none;
    position : absolute;
    background-color: white;
    margin-top: 0px;
    padding: 0;
    border:1px solid black;
    list-style-type: none;
    font-family: var(--font-family-title);
    font-weight: 500;
    transform: translateX(-25vw);
}

.menu-categories li{
    transition: 0.5s;
}


.menu-categories li:hover{
    overflow: visible;
    padding-left: 20px;
    transition: 0.5s;
}

.menu-categories li a{
    color: var(--title-color-secondary);
    font-family: var(--font-family-title);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-right: 50px;
    padding-left: 20px;

}


.menu-categories li:last-child  {
    border-top:1px solid var(--title-color-secondary);
}

.menu-categories li:last-child a {
    font-weight: 600;
}




#menu-hamburger:checked + .menu-categories{
    display: block;
}

.menu-categories-horizontal{
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.menu-categories-horizontal a{
   white-space: nowrap;
    
}

.menu-categories-horizontal::-webkit-scrollbar {
  height: 5px;
}
.menu-categories-horizontal::-webkit-scrollbar:hover {
  height: 20px;
}

.menu-categories-horizontal::-webkit-scrollbar-track {
  background: transparent;
}

.menu-categories-horizontal::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 2px;
  transition: 1s;
}

.menu-categories-horizontal::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color-primary);
  transition: 1s;
}




.menu-categories-horizontal a{
    padding-left: 10px;
    padding-right: 10px;
    color: var(--title-color-secondary);
    font-size: 1em;
    text-decoration: none;
    border-left:1px solid black;
    font-family: var(--font-family-title);
    font-weight: 500;
    transition: 0.5s;

}

.menu-categories-horizontal a:hover{
    color: var(--title-color-primary);
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.5s;
    
}



/* h1 et h2*/
.h1Contenair{
    display: flex;
    height: 150px;
    width: 100vw;
}

h1{
    font-family: var(--font-family-site-title);
    color: #cf2d2d;
    transform: rotate();
    /*background: linear-gradient(182deg, #EF7F84 0%, #cf2d2d 50%, #E7767B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-weight:800;
    text-align: center;
    margin: auto;
    align-self: center;
    font-size: 40pt;
   

}
.h2Contenair{
    height: 150px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-top: 2px solid var(--title-color-primary) ;
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    color: var(--title-color-primary) ;
    font-family: var(--font-family-title);
    font-weight: normal ;
    font-size: 24pt;
    text-decoration: none;
    align-self: flex-end;
   

    
}






/* début du main */
main{
    background-color: #ffffff;
}
main>section>div:first-of-type{
    padding-bottom: 2%;
    padding-top: 2% ;
}

#carouselExampleCaptions{
    margin-left: 5%;
    margin-right: 5%;
}




/*caroussel*/



.carousel-caption h5{
    font-family: var(--font-family-title);
    color: var(--backgroundcolor-primary);
    font-size: 19pt;
    font-weight: bold;

}

.carousel-caption p{
    font-family: var(--font-family-text);
    color: var(--backgroundcolor-primary);
    font-size: 14pt;
    font-weight: bold;

}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgba(0,0,0, 0);
    opacity: 1;
    filter: invert(1);
}


/*Article contenair*/
.sectionArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to bottom , transparent 0% , transparent 30px , rgb(236, 168, 168));
}

#actualityTitle{
    height: 60px;
}


.articleContenair{
    margin:auto;
    margin-top: 20px;
    box-shadow: 0px 1px 2px black;
    width: 40vw;
    height: 116px;
    display: flex;
}




.articleContenair:hover {
    box-shadow: none;
    transition: 1s;
}

.articleContenairImage{
    max-width: 186px;
    height: 116px;
    overflow: hidden;
}


.articleImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.articleContenairInfo{
    width: 100%;
    height: 116px;
    display: grid;
    grid-template:30% 40% 30%/30% 40% 30%;
    background-color: white;
    border-right: 2px solid var(--title-color-secondary);

}

.articleContenairInfo em{
    font-size: 13px;
    font-family: var(--font-family-text);
    padding: 10px;

}

.articleInfoTop{
    grid-area: 1/1/2/4;
    display: flex;
    justify-content: space-between;
}

.h4-ArticleTitle{
    font-size: 18px;
    font-family: var(--font-family-title);
    color: var(--title-color-secondary);
    font-weight: 700;
   
}

.articleInfoTitle{
     grid-area: 2/1/3/4;
     text-align: center;
     align-self: center;
}

.articleInfoBottom{
    grid-area: 3/1/4/4;
    display: flex;
    justify-content: flex-end;
    line-height: 10px;
    text-align: center;
    
    
}

.locationIcon{
    height: 20px;
    width: 20px;
    align-self: center;
}



/*-------------CONCEPTION DU FOOTER----------------*/

/* LIENS RELATIF AU FOOTER */
footer{
    height: auto;
    width: 100vw;
    max-width: 100vw;
    background: linear-gradient(182deg, #EF7F84 -20%, #b01f26 50%, #E7767B 120%);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-top: 30px;
}
/*NOUS CONTACTER ET A PROPOS FOOTER*/
#ul-footer-links-1{
    max-width: 100vw;
    grid-column: 1/span6;
    grid-row: 1;
    display: flex;
    list-style-type:none;
    font-weight: 500;
    transition: 0.5s;
}

#ul-footer-links-1 li{

    margin:0;
    padding-top: 25px;
    padding-left: 10px;
}


#ul-footer-links-1 a{
    font-family: var(--font-family-title);
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    border-right:1px solid rgb(255, 255, 255);
    padding-right: 10px;
    margin:0;
    
    
}


/*ICONE YOUTUBE ET FACEBOOK FOOTER*/
#div-footer-links-2{
    grid-column: 7/span4;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
#div-footer-links-2 a{
    margin-top: 10px;
    margin: 20px;
}


#div-footer-links-2 img{
    width: auto;
    height: 40px;
}

img[alt="icone de Facebook"]{
    margin-right: 20px;
}






/*INFO FOOTER*/
#footer-info{
    width: 100%;
    max-width: 100vw;
    grid-column: 1 / span10;
    grid-row: 2/span2;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#footer-info > p{
    max-width: 100%;
    max-width: 100vw;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    

}

/*responsive du h1 et son contenair pour smartphone*/
@media only screen and (max-width:768px){
    h1{
        font-size: 20pt;
    }
    .h1Contenair{
        height:80px;
        width: 100vw;
    }
    h2{
        font-size: 18pt;

    }
    .h2Contenair{
    height: 100px;
}
   .menu-categories-horizontal{
    display: none;
    
}

}


@media only screen and (min-width:370px) {
    .articleContenairImage{
    min-width: 186px;
    height: 116px;
    overflow: hidden;
}
    
}

@media only screen and (max-width:768px){
    .articleContenair{
    width: 90vw;
    }
}

@media only screen and (max-width: 480px){
    .menu-categories{
    transform: translateX(-45vw);
}
    footer{
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 20% 25% 1fr;
    
}
    #ul-footer-links-1{
        justify-content: center;
    grid-column: 1/span10;
    grid-row: 1;
}
    #div-footer-links-2{
    justify-content: center;
    grid-column: 1/span10;
    grid-row: 2;  
}
    img[alt="icone de Facebook"]{
        margin: 0;
}

    #footer-info{
    grid-column: 1 / span10;
    grid-row: 3;
  

}
}
    

@media only screen and (min-width: 769px) {
    #menu-hamburger-avec-liste{
        display: none;

    }
    img[alt="icone de recherche"]{
    height: 1.2em;
    }
    #ul-footer-links-1{
    grid-column: 6/span2;
    grid-row: 1/3;
    }
    #div-footer-links-2{
    justify-content: center;
    grid-column: 9/span2;
    grid-row: 1/3;  
    }

    #footer-info{
    grid-column: 1/6;
    grid-row: 1/span3;
    }

    #shearch-icon-text{
        text-decoration: none;
        font-family: var(--font-family-title);
        color: #ffffff;
        display: block;
    }
    #shearch-only-icon{
        display: none;
    }
    #contact-link{
        display: block;
    }
    #account-icon{
        display:none;
    }
    #account-link{
        display: block;
    }
}

#carousel{
    padding-top: 20px;;
    padding-bottom: 30px;
}


/*.sectionArticle{
    background-attachment: fixed;
    background-image: url("../img/night.jpg");
    background-size: 50%;
    background-position: center;
    background-repeat: repeat-y;
}
    */





